---
$schema: http://json-schema.org/draft-07/schema#
$id: fail2ban_jails
description: fail2ban jails configuration schema
type: object
# required:
#   - filter
#   -
additionalProperties: false
patternProperties:
  ^.*$: 
    type: object
    anyOf:
      - properties:
          filter: { type: string }
          enabled: { type: boolean, default: true }
        
          specific:
            type: array
            items:
              $ref: file://{{ role_path }}/files/schemas/common.json#/definitions/fail2ban_properties

      # additionalProperties: false
      - $ref: file://{{ role_path }}/files/schemas/common.json#/definitions/fail2ban_properties
    
    required: [ filter, enabled ]
